.tree-container {
    padding: 1rem;
}

.tree-node {
    margin: 0.5rem 0;
    padding: 0;
}

.node-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.icon-wrapper {
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.placeholder-icon {
    visibility: visible;
    color: #ccc;
}

.tree-container .node-title {
    font-weight: normal !important;
    color: #333;
    font-size: 1rem;
}

.node-level {
    color: #aaa;
    font-size: 0.9rem;
}

.tree-list {
    list-style-type: none;
    padding-left: 1rem;
    margin: 0;
}

.tree-visualization-container {
    width: 100%;
    height: 600px;
    background-color: #f7f2f2f4 !important;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 1rem auto;
    overflow: hidden;
}